<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/glassrenegade">Sam</a>. A developer in the making.
  </p>
  <p>
    He has a love for computers and has planned to turn that into a career through coding.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'sam.png', class: 'img-fluid' %>
    </div>


    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Sam Gardiner</h2>
      <br/>
      <p>
        Sam Gardiner is not a fan of cameras. A child at heart he likes to fill his free time with toys and games. He has learned Java, C, and C++. He currently is working with HTML and Ruby on Rails. With his love of games he is also learning Unreal Engine 4.
      </p>
    </div>
  </div>
</div>


<br class="clear"/>
<br/>
<br/>
<br/>
<br/>