@font-face {
    font-family: 'sf_archery_blackoblique';
    src: font_url('sf_archery_black_oblique-webfont.woff2') format('woff2'),
         font_url('sf_archery_black_oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}